.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 2px;
  background: #fff;
  margin-bottom: 5px;
}

div.bars {
  list-style: none;
  cursor: pointer;
  width: 20px;

  //   padding: 15px 15px 10px;

  & .bar1 {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  & .bar2 {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  & .bar3 {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.bars.open {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  & .bar1 {
    -moz-transform: rotate(45deg) translate(4px, 8px);
    -o-transform: rotate(45deg) translate(4px, 8px);
    -ms-transform: rotate(45deg) translate(4px, 8px);
    -webkit-transform: rotate(45deg) translate(4px, 8px);
    transform: rotate(45deg) translate(4px, 8px);
    background-color: aqua;
  }

  & .bar2 {
    opacity: 0;
  }

  & .bar3 {
    -moz-transform: rotate(-45deg) translate(2px, -6px);
    -o-transform: rotate(-45deg) translate(2px, -6px);
    -ms-transform: rotate(-45deg) translate(2px, -6px);
    -webkit-transform: rotate(-45deg) translate(2px, -6px);
    transform: rotate(-45deg) translate(2px, -6px);
    background-color: aqua;
  }
}
