* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: "smooth";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif !important;
  font-weight: 400;
}

p,
a,
span,
small {
  font-family: "Lato", sans-serif !important;
}
/* 
@keyframes loadingAnimation {
  0% {
    background-color: lightgray;
  }
  50% {
    background-color: gray;
  }
  100% {
    background-color: lightgray;
  }
}

.addAnimation {
  animation-name: loadingAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
} */
