* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif !important;
  font-weight: 400;
}

p,
a,
small {
  font-family: "Lato", sans-serif !important;
}

.addAnimation {
  -webkit-animation: spin 0.2s linear infinite;
  -moz-animation: spin 0.2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    marginleft: "0px";
  }

  50% {
    marginleft: "15px";
  }

  75% {
    marginleft: "10px";
  }

  100% {
    marginleft: "0px";
  }
}

@keyframes spin {
  0% {
    marginleft: "0px";
  }

  50% {
    marginleft: "15px";
  }

  75% {
    marginleft: "10px";
  }

  100% {
    marginleft: "0px";
  }
}

@-moz-keyframes spin {
  0% {
    marginleft: "0px";
  }

  50% {
    marginleft: "15px";
  }

  75% {
    marginleft: "10px";
  }

  100% {
    marginleft: "0px";
  }
}
